*{
    margin:0;
    padding:0;
    font-family: "Baskerville", sans-serif;
}
body{
    background-color:whitesmoke;
}
.header{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text{
    flex: 1;
    text-align: center;
    /* margin: 0 auto; */
    /* text-align: center; */
    /* align-items: center; */
}
.hero{
    height: 100%;
    width: 100%;
}
.form-box{
    overflow:hidden;
    width: 380px;
    height: 380px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border-radius: 60px;
    
}
.button-box{
    width:220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#switch-btn{
    top:0;
    left:0;
    position:absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #F58529, #DD2A7B, #8134AF);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top:110px;
    position:absolute;
    width:280px;
    transition: .5s;
}
.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1 solid #999;
    outline:none;
    background:transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #F58529, #DD2A7B, #8134AF);
    border:0;
    outline:none;
    border-radius:30px;
}
.file-field{
    background: linear-gradient(to right, #F58529, #DD2A7B, #8134AF);
}
input[type="file"]{
    display: none;
}
#upload-label{
    display: inline-block;
    background: linear-gradient(to right, #F58529, #DD2A7B, #8134AF);
    border-radius:30px;
    width: 55%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;

}
.logout-btn{
    background: linear-gradient(to right, #F58529, #DD2A7B, #8134AF);
    border-radius:30px;
    outline:none;
    border:0;
    padding: 10px 30px;
    cursor: pointer;
    /* margin: auto; */
    margin-right: 40px;
    display: block;
    position:relative;
}
.header-white-space{
    width:138px;
    /* margin-right: 40px; */
}
.submit-btn:hover{
    background: linear-gradient(to right, #f79443, #d94d8c, #8e53b0);
}
.check-box{
    margin: 10px 10px 30px 0;
}
#login-screen{
    left:50px;
}
#register-screen{
    left:450px;
}
.err-message{
    color:#ff0000;
}
.heart{
    position: absolute;
    /* margin-top: 12px; */
    z-index: -1;
    animation: heartMove 4s linear 0s infinite ;
    transition: opacity .3s ease-out;
} 
.heart::before, .heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: rgb(255, 0, 0);
}
.heart::before {
    left: 52px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.upload-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}
@keyframes heartMove{
    0% {scale: 0%;}
    100% {top:0;opacity: 0; scale:100%;}
}
.transition {
    opacity: 0; /* Start invisible */
    animation: transitionIn 0.5s forwards; /* Trigger fade-in */
}
.fade {
    animation: transitionOut 0.5s forwards;
}
.progress-bars {
    display:flex;
    flex-direction: column;
    width:100%;
}
.progress-bar{
    padding: 10px;
    gap:5px;
    display:flex;
    flex-direction:row;
}
.progress-text{
    gap:5px;
    display:flex;
    flex-direction:column;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-45deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
@keyframes transitionOut {
    from {
        opacity: 1;
        transform: rotateX(0); 
    }
    to {
        opacity: 0; /* End fully invisible */
        transform: rotateX(-45deg);
    }
}