*{
    margin:0;
    padding:0;
    font-family: "Baskerville", sans-serif;
}
body{
    background-color:whitesmoke;
}
.header{
    margin-top: 25px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text{
    flex: 1;
    text-align: center;
    font-size: calc(.7em + 1vw);
}
.hero{
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-attachment: fixed;
    background-image: url('images/backround.svg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: bottom 100%; 
}
.form-box{
    overflow:hidden;
    width: 95vw;
    max-width: 380px;
    height: 380px;
    position: relative;
    justify-content: center;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border-radius: 60px;
    box-shadow: 0 0 20px 9px #ff61241f;
}
.button-box{
    width:220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 10px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 10px;
    outline: none;
    position: relative;
}
.profile-link{
    display: inline-flex; 
    clip-path: circle(50%);
}
.profile-link:hover{
    scale: 0.95;
}
#switch-btn{
    top:0;
    left:0;
    position:absolute;
    width: 110px;
    height: 100%;
    background: rgb(255, 0, 0, 0.7);
    border-radius: 10px;
    transition: .5s;
}
.input-group{
    width:70vw;
    top:110px;
    position:absolute;
    max-width:280px;
    transition: .5s;
}
.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1 solid #999;
    outline:none;
    background:transparent;
}
.submit-btn{
    transition: transform 0.5s;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    box-shadow: 0 0 20px 9px #ff61241f;
    background: rgb(255, 0, 0, 0.7);
    border:0;
    outline:none;
    border-radius:10px;
}
.file-field{
    background: rgb(255, 0, 0, 0.7);
}
input[type="file"]{
    display: none;
}
#upload-label{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 9px #ff61241f;
    background: rgb(255, 0, 0, 0.7);
    border-radius:10px;
    width: 70%;
    padding: 0px 60px;
    cursor: pointer;
    margin: auto;
    
}
.logout-btn{
    background: rgb(255, 255, 255);
    border-radius:10px;
    outline:none;
    border:0;
    box-shadow: 0 0 20px 9px #ff61241f;
    width:80px;
    height:30px;
    cursor: pointer;
    margin: auto;
    margin-right: 15px;
    display: block;
    position:relative;
}
.lds-ring,
.lds-ring div {
    box-sizing: border-box;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px; 
    height: 11.5px; /* Set the container height to match the child elements */
    transform: translate(-50%, -100%); /* Center the ring within a positioned container */
    scale: 0.35; /* Adjust scale if needed */
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 48px; /* Width of each ring element */
    height: 48px; /* Height of each ring element */
    margin: 0; /* Remove margin to keep elements centered */
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header-white-space{
    width:95px;
}
.submit-btn:hover{
    background: rgb(255, 0, 0, 0.5);
    scale: 0.97;
}
.logout-btn:hover{
    background: rgb(255, 255, 255, 0.5);
    scale: 0.97;
}
#upload-label:hover{
    background: rgb(255, 0, 0, 0.5);
    scale: 0.97;
}
.check-box{
    margin: 10px 10px 30px 0;
}
#login-screen{
    left:58px;
}
#register-screen{
    left:458px;
}
.terms-err{
    outline:red auto 1px;
}
.err-message{
    color:rgb(255, 0, 0);
    height:25px;
    align-content: center;
}
.message{
    color:#000000;
}
.upload-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}
.transition {
    opacity: 0;
    animation: transitionIn 0.5s forwards;
}
.fade {
    animation: transitionOut 0.5s forwards;
}
.progress-bars {
    display:flex;
    flex-direction: column;
    width:100%;
    gap: 10px;
}
.progress-bar{
    background-color: rgb(128, 128, 128, 0.05);
    padding: 10px;
    gap:5px;
    display:flex;
    flex-direction:row;
}
progress {
    border-radius: 6px; 
    height: 8px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
progress::-webkit-progress-value {
background-color: rgb(155, 0, 0);
}
.scroll-div{
    overflow-y: auto;
    max-height: 240px; 
}
.scroll-div::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
  }
  .scroll-div::-webkit-scrollbar-thumb{
    background-color: rgb(255, 0, 0, 0.7);
  }
.progress-text{
    gap:10px;
    display:flex;
    flex-direction:column;
}
table {
    border-spacing: 0px;
  }
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-45deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
@keyframes transitionOut {
    from {
        opacity: 1;
        transform: rotateX(0); 
    }
    to {
        opacity: 0;
        transform: rotateX(-45deg);
    }
}