<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wyatt Mogelson">
    <title>Unfollow Finder</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div style = "text-align: center;"> 
        <div class = "header">
            <div class="header-white-space"></div>
            <h1 class = "header-text"> <img src = "/images/instagram_logo.svg" width="24.004" height="24" title="instagram_logo"> Instagram Unfollower Tool </h1>
            <button class="logout-btn transition" id = "logout-btn">Logout</button>
        </div>
        <div class = "form-box">
            <!-- <div class = "button-box">
                <div id="switch-btn"></div>
                <button class = "toggle-btn" id = "to-login" onclick="toLogin()">Login</button>
                <button class =  "toggle-btn" id = "to-register" onclick="toRegister()">Register</button>
            </div> -->
            <div class = "button-box transition">
                <div id="switch-btn"></div>
                <button class = "toggle-btn" id = "to-login" onclick="toUpload()">Upload</button>
                <button class =  "toggle-btn" id = "to-register" onclick="toOutput()">Output</button>
            </div>
        </form>
            <form id = "login-screen" class="input-group upload-btns transition">
                <input class="file-field" type="file" id="files" name="file" accept = ".html" multiple>
                <label id = "upload-label"for = "files">Upload Files</label>
                <div class = "progress-bars">
                    <div class="progress-bar">
                        <img src = "/images/file-1453.svg" width="31" height="36">
                        <div class = "progress-text">
                                <div style="display:flex; flex-direction: row; gap:20px;">
                                    <p id = "file1">Followers.html &#x2022; Uploaded</p>
                                    <p>90</p>
                                </div>
                                <progress></progress>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <img src = "/images/file-1453.svg" width="31" height="36">
                        <div class = "progress-text">
                            <div style="display:flex; flex-direction: row; gap:20px;">
                                <p id = "file2">Following.html &#x2022; Uploaded</p>
                                <p>90</p>
                            </div>
                            <progress></progress>
                        </div>
                    </div>
                </div>
                <p id = "message"><br></p>
                <button class = "submit-btn"id = "submit">Submit</button>
            </form>
            <form id = "register-screen" class="input-group transition">
                <table id = "userTable">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
        </form>
                <!-- <table id = "userTable">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table> -->
                <!-- <h1 id = "output"></h1> -->
                <!-- <input class = "input-field", type ="text" id = "login-username" placeholder="Enter Username" required>
                <br><br>
                <input class = "input-field" type ="text" id = "login-password" placeholder="Enter Password" required>
                <p class = "err-message" id = "login-message"><br></p>
                <input type="checkbox" class="check-box"><span>Keep me logged in</span>
                <button class = "submit-btn" id = "login">Login</button> -->
                <!-- <p>Haven't made an account?</p><a href="views/register.html">Register</a> -->
            <!-- </form> -->
        <!-- </div>
        <hr>
        <div>
            <p1>Check who unfollowed you with one simple file upload:</p1>
        </div>
        <br><br>
        <form>
            <div>
                <label for="fname">Upload File:</label>
                <input type="file" id="files" name="file" accept = ".html" multiple>
                <p id = "message"><br></p>
                <button id = "submit">Submit</button>
                <br><br>
                <table id = "userTable">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <h1 id = "output"></h1>
            </div>
            <br>
            <br>
        </form>
        <br> -->
        <script> 
            const submitBtn = document.getElementById("submit") 
            const logoutBtn = document.getElementById("logout-btn") 
            const inputFile = document.getElementById("files")
            const output = document.getElementById("output")
            var switchBtn = document.getElementById("switch-btn");
            var login_screen = document.getElementById("login-screen");
            var register_screen = document.getElementById("register-screen");
            const baseUrl = 'http://localhost:8383'
            // submitBtn.addEventListener('click', recieveInfo)
            submitBtn.addEventListener('click', sendInfo)
            logoutBtn.addEventListener('click', logOut)
            
            async function logOut(e) {
                const res = await fetch(baseUrl + '/logout', {
                    method: 'POST',
                
                })
                if (res.ok) {
                    transition();
                    clearInterval(intervalId);
                    setTimeout(() => {
                        window.location.href = '/index.html';
                    }, 200); // 1000 ms = 1 second
                }
            }
            function transition(){
                console.log("WOWOWOWW")
                const heartElements = document.querySelectorAll('.heart');
                const bodyElements = document.querySelectorAll('.transition');
                heartElements.forEach(element => {
                    element.style.opacity = 0;
                });
                bodyElements.forEach(element => {
                    element.classList.add('fade');
                })
            }
            function toOutput(){
                login_screen.style.left = "-400px";
                register_screen.style.left = "50px";
                switchBtn.style.left = "110px";
            };
            function toUpload(){
                login_screen.style.left = "50px";
                register_screen.style.left = "450px";
                switchBtn.style.left = "0px";
            };
            function spawnHeart(event){
                const newHeart = document.createElement('div');
                newHeart.classList.add('heart')
                // const x = event.clientX; // X coordinate of the click
                // const y = event.clientY;
                // console.log(x,y)
                // newHeart.style.left = x + 'px';
                // newHeart.style.top = y + 'px';
                newHeart.style.left = Math.random() * window.innerWidth + 'px';
                newHeart.style.top = Math.random() * window.innerHeight + 'px';
                document.getElementById("heart-loc").appendChild(newHeart);

                setTimeout(() => {
                newHeart.classList.add('hidden');
                // Optional: remove from DOM after it is invisible
                setTimeout(() => newHeart.remove(), 500); 
                }, 3500);
            }

            // document.addEventListener('click', spawnHeart);
            function startSpawning() {

                // Spawn 3 divs every second
                intervalId = setInterval(() => {
                for (let i = 0; i < 1; i++) {
                    spawnHeart();
                }
                }, 400); // 1000 ms = 1 second
            }
            window.onload = function() {
                startSpawning();
            };
            // async function recieveInfo(e) { 
            //     e.preventDefault()
            //     const res = await fetch(baseUrl + 'info/wyatt?key=hello', {
            //         method: 'GET' 
            //     })
            //     console.log( res) 
            //     const data = await res.json()
            //     output.textContent = data.info
            // }
            async function sendInfo(e) {
                e.preventDefault()
                if (inputFile.value == '') { return }
                const formData = new FormData()
                for (let i=0; i<files.files.length; i++) {
                    formData.append("files", files.files[i])
                }
                // console.log(...formData)
                const res = await fetch(baseUrl + '/uploads', {
                    method: 'POST',
                    body: formData
                
                })
                if (res.ok) {
                    const data = await res.json()
                    const tableBody = document.querySelector('#userTable tbody');
                    data[0].forEach(user => {
                        const row = document.createElement('tr');
                        const cell = document.createElement('td');
                        cell.textContent = user.following_id;
                        row.appendChild(cell);
                        tableBody.appendChild(row);
                    });
                }
                else {
                    if (res.ok) {
                        document.getElementById("message").textContent = "Succesfully uploaded"
                    }
                    if (res.status === 401) {
                        document.getElementById("message").textContent = "Page timeout, redirecting to login page"
                        logOut()

                    }
                    else if (res.status === 403) {
                        document.getElementById("message").textContent = "Page timeout, redirecting to login page"
                        logOut()
                        
                    }
                    else if (res.status === 500) {
                        // Display file parsing error
                        document.getElementById("message").textContent = "Error with files, are you sure you uploaded the correct files?"
                    }
                }
            }
        </script>
    </div>
    <div class = "heart-transition" id = "heart-loc"></div>

    </div>
</body>
</html>