<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wyatt Mogelson">
    <title>Unfollow Finder</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div style = "text-align: center;"> 
        <div class = "header">
            <div class="header-white-space"></div>
            <h1 class = "header-text"> <img src = "../images/people.svg" title="instagram_logo"style="width:1em;height:1em;"> UnfollowersTracker</h1>
            <button class="logout-btn transition" id = "logout-btn">Logout</button>
        </div>
        <div class = "form-box">
            <div class = "button-box transition">
                <div id="switch-btn"></div>
                <button class = "toggle-btn" id = "to-login" onclick="toUpload()">Upload</button>
                <button class =  "toggle-btn" id = "to-register" onclick="toOutput()">Output</button>
            </div>
        </form>
            <form id = "login-screen" class="input-group upload-btns transition">
                <div style="display:flex; flex-direction: row; gap:5px;">
                    <label style = "height:36px;" id = "upload-label" for = "zipfile">Upload</label>
                    <input class="file-field" onchange = "uploadFiles()" type="file" id="zipfile" name="file" accept = ".zip">
                    <button class = "submit-btn" style = "height:36px;" id = "getInfo">Get</button>
                </div>
                <div class = "progress-bars">
                    <div id = "progress-bar1" class="progress-bar" style="visibility: hidden;">
                        <img src = "../images/file-1453.svg" width="31" height="36">
                        <div class = "progress-text">
                                <div style="display:flex; flex-direction: row; gap:30px; font-size: small;">
                                    <p id = "file1-status" style="flex: 0 0 150px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Followers.html &#x2022; Uploaded</p>
                                    <p id = "file1-percent"style="text-align: right;"></p>
                                </div>
                                <progress id = file1-bar style="width: 215px;" max = "100" value = "0"></progress>
                        </div>
                    </div>
                    <div id = "progress-bar2" class="progress-bar" style="visibility: hidden;">
                        <img src = "../images/file-1453.svg" width="31" height="36">
                        <div class = "progress-text">
                            <div style="display:flex; flex-direction: row; gap:30px; font-size: small;">
                                <p id = "file2-status" style="flex: 0 0 150px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Following.html &#x2022; Uploaded</p>
                                <p id = "file2-percent" style="text-align: right;"></p>
                            </div>
                            <progress id = file2-bar style="width: 215px;" max = "100" value = "0" ></progress>
                        </div>
                    </div>
                </div>
                <button class = "submit-btn"id = "submit">Submit
                </button>
                <p class="err-message" id = "message"></p>                
            </form>
            <form id = "register-screen" class="input-group transition">
                <div class="scroll-div">
                    <table id = "userTable" style="display: flex; justify-content: center;align-items: center; gap:2px">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </form>
        </form>
        <script src="../js/main.js"></script>
    </div>
    <div class = "heart-transition" id = "heart-loc"></div>

    </div>
</body>
</html>